/* src/sections/AboutSection/AboutSection.css */

.about{
    padding: 2rem;
    background-color: #F6FCDF; /* Light background color */
    text-align: center;
    color: #333;
    margin: 2rem auto;
    border-radius: 8px;
    max-width: 900px ;
  
  }
  .about-section{
    display: flex;
    height: 90vh;
    align-items: center;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1A1A19;
  }
  
  .about p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .about strong {
    color: #006769;
  }
  