/* src/components/RecipeModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;

  }
  
  .close-button {
    position: absolute;
    top: 2px;
    right: -280px;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    aspect-ratio: 5/6;
  }
  