/* src/sections/FoodGallery/FoodGallery.css */
.food{
    margin-top: 60px;
}
.food-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    padding: 20px;
  }
  .h1{
    color: #1A1A19;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 85%;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .gallery-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CBD2A4;
    font-size: 1.5rem;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    text-align: center;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  